<table>
  <tr>
    <td>学生</td>
    <td>年龄</td>
  </tr>
  <% @students.each do|student| %>
  <tr>
    <td><%= student.name %></td>
    <td><%= student.age %></td>
    <td><%= link_to '编辑', edit_student_path(student) %></td>
    <td><%= link_to '删除', student_path(student), method: :delete %></td>


  </tr>
  <% end %>
</table>
